.services{
    width: 90%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.services img{
    width: 100px;
    text-align: center;
    margin: auto;
}
@media (max-width: 450px) {
    .services img{
        width: 50%;
        margin: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}